@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Roboto", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Roboto", sans-serif;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	background: #f9f1e4;
	color: #000;
	font-size: 14px;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.container {
	max-width: 979px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 991px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 30px;
	}
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form__info {
	position: absolute;
	width: 60px;
	height: 60px;
	right: 0;
	top: 0;
	line-height: 60px;
	text-align: center;
	color: #888;
	z-index: 2;
	font-size: 14px;
}
@media (max-width: 767.98px) {
	.form__info {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}
ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}
ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}
.cell.full {
	width: 100%;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;
}
.moretext__more span {
	font-style: normal;
}
.moretext__more span:first-child {
	display: block;
}
.moretext__more span:last-child {
	display: none;
}
.moretext__more.active span {
	font-style: normal;
}
.moretext__more.active span:first-child {
	display: none;
}
.moretext__more.active span:last-child {
	display: block;
}

.graystyle {
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.slick-slider .slick-track {
	position: relative;
	background: #f9f1e4;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.slick-slider .slick-slide {
	position: relative;
}
.slick-slider .slick-arrow {
	position: absolute;
	top: 40%;
	width: 54px;
	background: transparent;
	border-top: 1px solid #000;
	height: 54px;
	z-index: 2;
}
.slick-slider .slick-arrow.slick-prev {
	left: 10px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	border-left: 1px solid #000;
}
.slick-slider .slick-arrow.slick-next {
	right: 10px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	border-right: 1px solid #000;
}
@media (max-width: 991px) {
	.slick-slider .slick-arrow {
		width: 34px;
		height: 34px;
	}
}
.slick-slider .slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 20px auto;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.slick-slider .slick-dots li button {
	width: 20px;
	height: 20px;
	background: transparent;
	border: 3px solid #594740;
	border-radius: 50%;
	margin: 0 20px 20px 0;
	font-size: 0;
}
.slick-slider .slick-dots li.slick-active button {
	background: #594740;
}
@media (max-width: 767.98px) {
	.slick-slider .slick-dots li button {
		width: 10px;
		height: 10px;
		background: transparent;
		border: 2px solid #594740;
		border-radius: 50%;
		margin: 0 10px 10px 0;
		font-size: 0;
	}
}

.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
}
.baloon button {
	display: none !important;
}
.baloon:after {
	display: none !important;
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
}
.baloon-content.gm-style-iw > .gm-style-iw-d {
	overflow: hidden !important;
	max-width: none !important;
}
.baloon-content.gm-style-iw:after {
	display: none !important;
}

.baloon-close {
	top: 18px !important;
}

.popup {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	z-index: 100;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	-webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup__body {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 30px 10px;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}

.popup__content {
	max-width: 800px;
	position: relative;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
	opacity: 0;
	-webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.form {
	background: #fff;
	position: relative;
	margin: 0 auto;
	width: 380px;
	height: 410px;
	height: auto !important;
	padding: 35px 30px 40px;
	-webkit-box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}
.form__body {
	position: relative;
}
.form__title {
	font-weight: bold;
	font-size: 26px;
	line-height: 28px;
	color: #421a01;
	margin: 0 0 30px;
	text-align: center;
}
.form__input {
	width: 100%;
	height: 63px;
	margin: 0 0 20px;
	-webkit-box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	        box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	border-radius: 5px;
	padding: 0 0 0 40px;
	font-size: 14px;
	line-height: 28px;
}
.form input[type=text] {
	background: url(../img/popup/name.png) 10px no-repeat, #f8f8f8;
}
.form input[type=tel] {
	background: url(../img/popup/phone.png) 10px no-repeat, #f8f8f8;
}
.form__textarea {
	width: 100%;
	height: 100px;
	margin: 0 0 20px;
	-webkit-box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	        box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	border-radius: 5px;
	padding: 10px 20px 10px 40px;
	font-size: 14px;
	line-height: 28px;
	background: #f8f8f8;
}
.form__submit {
	height: 66px;
	width: 100%;
	background: #ee6916;
	-webkit-box-shadow: 0px 4px 0px #b68500;
	        box-shadow: 0px 4px 0px #b68500;
	border-radius: 5px 5px 10px 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: 27px;
}
@media (max-width: 767.98px) {
	.form {
		width: 300px;
	}
}

.fa-times-circle {
	font-size: 30px;
	border-radius: 20px;
	color: #421a01 !important;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #ffffff;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	z-index: 101;
}

.fa-times-circle:hover {
	font-size: 40px;
	border-radius: 30px;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.header {
	position: relative;
}
.header::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #c6b5a4;
	z-index: 6;
}
.header__row {
	height: 75px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__phone {
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	text-align: justify;
	color: #000000;
	z-index: 6;
	background: url(../img/icons/whatsapp.png) left/contain no-repeat;
	padding: 0 0 0 30px;
}
@media (max-width: 991px) {
	.header__row {
		height: 60px;
	}
	.header__phone {
		font-size: 12px;
		line-height: 14px;
	}
}
@media (max-width: 991.98px) {
	.header__row {
		height: 46px;
	}
}
@media (max-width: 767.98px) {
	.menu__body {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: 100px 20px 50px;
		background-color: #f9f1e4;
		z-index: 3;
		-webkit-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
}
.menu__body.active {
	top: 0;
}
.menu__list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 6;
}
@media (max-width: 767.98px) {
	.menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.menu__list li {
		margin: 30px 0 0;
	}
}
.menu__link {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #433733;
	position: relative;
	padding: 16px 10px;
	border-right: 1px solid #5b5852;
	text-transform: uppercase;
}
@media (max-width: 991px) {
	.menu__link {
		font-size: 13px;
		line-height: 115.4%;
		letter-spacing: -0.105em;
		padding: 9px 10px;
	}
}
@media (max-width: 767.98px) {
	.menu__link {
		font-size: 16px;
		line-height: 115.4%;
		border-right: none;
		letter-spacing: 1px;
	}
}

.menu_p {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 70%;
	        flex: 1 0 70%;
}
.menu_p .menu__list_p {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 6;
}
.menu_p .menu__link_p {
	padding: 16px 200px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #433733;
	position: relative;
	border-right: 1px solid #5b5852;
	text-transform: uppercase;
}
@media (max-width: 991px) {
	.menu_p {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
	}
	.menu_p .menu__link_p {
		padding: 9px 10px;
	}
}
.icon-menu {
	display: none;
	position: relative;
	top: 0;
	right: 0;
	width: 38px;
	height: 24px;
	cursor: pointer;
	z-index: 6;
}
.icon-menu span {
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	top: 10px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #594740;
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active span {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 10px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 10px;
}
@media (max-width: 767.98px) {
	.icon-menu {
		display: block;
	}
}

.call {
	position: relative;
	z-index: 2;
}
.call__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #421a01;
	margin: 0 0 30px;
}
.call__body {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding: 0 0 50px;
}
.call__phone, .call__email {
	letter-spacing: -0.015em;
	color: #421a01;
	margin-left: 50px;
}
.call__phone p, .call__email p {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 20px;
}
.call__phone a, .call__email a {
	color: #421a01;
	font-size: 20px;
	line-height: 24px;
}
@media (max-width: 991px) {
	.call__title {
		font-size: 36px;
		line-height: 42px;
	}
	.call__phone, .call__email {
		letter-spacing: -0.015em;
		color: #421a01;
		margin-left: 30px;
	}
	.call__phone p, .call__email p {
		font-size: 20px;
		line-height: 23px;
		margin: 0 0 20px;
	}
	.call__phone a, .call__email a {
		color: #421a01;
		font-size: 16px;
		line-height: 20px;
	}
}
@media (max-width: 767.98px) {
	.call {
		padding: 0 0 185px;
	}
	.call__title {
		font-size: 24px;
		line-height: 28px;
	}
	.call__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.call__phone, .call__email {
		display: none;
	}
}

.popup-call {
	position: absolute;
	padding: 35px 30px 40px;
	top: 0;
	left: 20px;
	width: 380px;
	height: 410px;
	background: #ffffff;
	-webkit-box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 4px 16px 7px rgba(0, 0, 0, 0.25);
	border-radius: 16px;
}
.popup-call__title {
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #421a01;
	margin: 0 0 30px;
}
.popup-call__input {
	width: 100%;
	height: 63px;
	margin: 0 0 20px;
	-webkit-box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	        box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
	border-radius: 5px;
	padding: 0 0 0 40px;
	font-size: 14px;
	line-height: 28px;
}
.popup-call input[type=text] {
	background: url(../img/popup/name.png) 10px no-repeat, #f8f8f8;
}
.popup-call input[type=tel] {
	background: url(../img/popup/phone.png) 10px no-repeat, #f8f8f8;
}
.popup-call__submit {
	height: 66px;
	width: 100%;
	background: #ee6916;
	-webkit-box-shadow: 0px 4px 0px #b68500;
	        box-shadow: 0px 4px 0px #b68500;
	border-radius: 5px 5px 10px 10px;
	font-weight: bold;
	font-size: 12px;
	line-height: 27px;
}
@media (max-width: 991px) {
	.popup-call {
		width: 321.11px;
		height: 359.35px;
		padding: 25px 17px 30px;
	}
	.popup-call__title {
		font-size: 16px;
	}
	.popup-call__input {
		height: 55.35px;
		padding: 0 0 0 30px;
	}
	.popup-call__submit {
		height: 57.99px;
	}
}
@media (max-width: 767.98px) {
	.popup-call {
		width: 253px;
		height: 387px;
		padding: 25px 17px 30px;
	}
	.popup-call__title {
		font-size: 15px;
		line-height: 140%;
	}
	.popup-call__input {
		height: 63px;
		padding: 0 0 0 35px;
	}
	.popup-call__submit {
		height: 53px;
		font-size: 10px;
		line-height: 28px;
	}
}

.footer {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 100px;
	        flex: 0 0 100px;
	padding: 30px 0 100px;
	background: #594740;
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	color: #fff;
	margin: 0 0 115px;
}
.footer__links {
	margin: 0 109px 0 0;
}
.footer__links p {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -0.015em;
	color: #f9f1e4;
	margin: 0 0 30px;
}
.footer__links ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.footer__link {
	width: 23px;
	height: 23px;
	margin: 0 10px 0 0;
}
.footer__link a {
	display: block;
	width: 100%;
	height: 100%;
}
.footer__ins {
	background: url(../img/icons/instagram2.png) center/contain no-repeat;
}
.footer__wa {
	background: url(../img/icons/whatsapp.png) center/contain no-repeat;
}
.footer__address {
	margin: 0 150px 0 0;
}
.footer__address p {
	font-weight: 500;
	font-size: 24px;
	line-height: 26px;
	letter-spacing: -0.015em;
	color: #f9f1e4;
	margin: 0 0 30px;
}
.footer__address address {
	font-size: 18px;
	line-height: 22px;
	letter-spacing: -0.015em;
	color: #f9f1e4;
}
.footer__text {
	text-align: right;
}
.footer__text a {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #ffffff;
}
.footer__phone_md3, .footer__email_md3 {
	display: none;
}
@media (max-width: 991px) {
	.footer__links {
		margin: 0 50px 0 0;
	}
	.footer__links p {
		font-size: 20px;
		line-height: 23px;
		margin: 0 0 20px;
	}
	.footer__address {
		margin: 0 100px 0 0;
	}
	.footer__address p {
		font-size: 20px;
		line-height: 23px;
		margin: 0 0 20px;
	}
}
@media (max-width: 767.98px) {
	.footer {
		padding: 150px 0 20px;
		background: #594740;
	}
	.footer__phone_md3, .footer__email_md3 {
		display: block;
		margin: 20px 0 0 30px;
		color: #fff;
	}
	.footer__phone_md3 p, .footer__email_md3 p {
		font-size: 18px;
		line-height: 21px;
		margin: 0 0 10px;
	}
	.footer__phone_md3 a, .footer__email_md3 a {
		color: #fff;
		font-size: 14px;
		line-height: 16px;
	}
	.footer__links {
		margin: 0 0 0 30px;
	}
	.footer__links p {
		font-size: 20px;
		line-height: 23px;
		margin: 0 0 10px;
	}
	.footer__address {
		margin: 0 0 0 30px;
	}
	.footer__address p {
		font-size: 18px;
		line-height: 21px;
		margin: 0 0 10px;
	}
	.footer__text a {
		font-size: 15px;
		line-height: 18px;
	}
	.footer__row {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		margin: 0 0 40px;
	}
	.footer address {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: -0.015em;
		color: #f9f1e4;
	}
	.footer__text {
		-moz-text-align-last: center;
		     text-align-last: center;
	}
	.footer__text a {
		font-size: 13px;
		line-height: 18px;
	}
}

.first-screen {
	font-family: "Montserrat", sans-serif;
	background: #f9f1e4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 100px 0 190px;
}
.first-screen__body {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.first-screen__text-column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 54%;
	        flex: 0 1 54%;
	text-align: left;
	padding: 0 25px;
	z-index: 2;
}
.first-screen__title {
	font-weight: bold;
	font-size: 33px;
	letter-spacing: -0.015em;
	color: #342c29;
	margin: 0 0 20px;
}
.first-screen__subtitle {
	font-size: 30px;
	line-height: 34px;
	letter-spacing: -0.015em;
	color: #3a302c;
	border-bottom: 1px solid #3a302c;
}
.first-screen__subtitle p {
	margin: 0 0 20px;
}
.first-screen__add {
	font-size: 30px;
	line-height: 34px;
	letter-spacing: -0.015em;
	color: #3a302c;
	margin: -15px 0 20px;
}
.first-screen__list {
	margin: 20px 0 25px;
}
.first-screen__list li {
	font-size: 18px;
	line-height: 28px;
	color: #211b19;
	padding: 0 0 0 40px;
	margin: 0 0 20px;
	background: url(../img/icons/tick__1.png) 0 0/28px no-repeat;
}
.first-screen__list li:last-child {
	margin: 0;
}
.first-screen__list p {
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	margin: -20px 0 0;
}
.first-screen__list_s li {
	background: url(../img/packages/Ellipse10.png) 0 10px no-repeat;
	margin: 10px 0 0;
}
.first-screen__image {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 46%;
	        flex: 1 0 46%;
	padding: 0 0 50%;
	z-index: 2;
}
.first-screen__image_2 {
	padding: 0 0 58%;
}
.first-screen__image_3 {
	padding: 0 0 86%;
}
.first-screen_links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 0 18px;
}
.first-screen__link {
	height: 49.21px;
	width: 404px !important;
}
.first-screen__link:first-of-type {
	margin: 0 10px 0 0;
}
@media (max-width: 991px) {
	.first-screen {
		padding: 85px 0 90px;
	}
	.first-screen__image {
		display: none;
	}
	.first-screen__text-column {
		padding: 0;
		margin: 0 auto;
	}
	.first-screen__title {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 5px;
	}
	.first-screen__subtitle {
		font-size: 18px;
		margin: 0 0 5px;
	}
	.first-screen__add {
		font-size: 18px;
		line-height: 32px;
		margin: -5px 0 10px;
	}
	.first-screen__list {
		margin: 0 0 12px;
	}
	.first-screen__list li {
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 12px;
		padding: 0 0 0 30px;
		background: url(../img/icons/tick__1.png) 0 0/20px no-repeat;
	}
	.first-screen__list li:last-child {
		margin: 0;
	}
	.first-screen__text {
		font-size: 16px;
		line-height: 22px;
	}
}
@media (max-width: 767.98px) {
	.first-screen {
		padding: 30px 0 55px;
	}
	.first-screen__text-column {
		padding: 0 0 0 0;
	}
	.first-screen__title {
		font-size: 20px;
		line-height: 30px;
		margin: 0 0 10px;
		text-align: center;
	}
	.first-screen__subtitle {
		font-size: 13px;
		line-height: 18px;
		margin: 0 0 10px;
		text-align: center;
	}
	.first-screen__add {
		font-size: 13px;
		line-height: 18px;
		margin: -5px 0 10px;
		text-align: center;
	}
	.first-screen__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.first-screen_links {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.first-screen__list {
		margin: 0 0 12px;
	}
	.first-screen__list li {
		font-size: 14px;
	}
	.first-screen__link {
		width: 253.66px !important;
		height: 46.05px !important;
		font-size: 15px;
		line-height: 18px;
	}
	.first-screen__link:first-of-type {
		margin: 0 0 11px;
	}
}

.description {
	padding: 0 0 110px;
}
.description__title {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 36px;
	margin: 0 0 50px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #342c29;
}
.description__list li {
	font-size: 20px;
	line-height: 26px;
	letter-spacing: -0.015em;
	color: #000000;
	margin: 0 0 50px;
}
.description__list li:last-of-type {
	margin: 0 0 0;
}
@media (max-width: 767.98px) {
	.description {
		padding: 0 0 55px;
	}
	.description__title {
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 20px;
	}
	.description__list {
		margin: 0 0 30px;
	}
	.description__list li {
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 20px;
	}
	.description__list li:last-of-type {
		margin: 0 0 0;
	}
}

.desc-footer {
	background: #f89a6e;
	padding: 60px 0;
}
.desc-footer__text p {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-size: 22px;
	line-height: 32px;
	text-align: justify;
	text-transform: uppercase;
	color: #000000;
	margin: 0 0 20px;
}
@media (max-width: 991px) {
	.desc-footer__text p {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (max-width: 767.98px) {
	.desc-footer__text p {
		font-size: 13px;
		line-height: 17px;
		margin: 0 0 10px;
	}
}

.add {
	padding: 50px 0 70px;
}
.add__text {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 38px;
	letter-spacing: -0.025em;
	color: #000000;
}
@media (max-width: 991px) {
	.add__text {
		font-size: 18px;
		line-height: 32px;
	}
}
@media (max-width: 767.98px) {
	.add__text {
		font-size: 16px;
		line-height: 29px;
	}
}

.footer-p {
	padding: 30px 0 50px;
	background: #594740;
}
.footer-p__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer-p__links {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 23%;
	        flex: 1 0 23%;
	padding: 0 10px;
}
.footer-p__links ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.footer-p__link {
	width: 23px;
	height: 23px;
	margin: 0 10px 0 0;
}
.footer-p__link a {
	display: block;
	width: 100%;
	height: 100%;
}
.footer-p__menu {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 23%;
	        flex: 1 0 23%;
	padding: 0 10px;
}
.footer-p__contacts {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 23%;
	        flex: 1 0 23%;
}
.footer-p__text a {
	font-size: 15px;
	line-height: 18px;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #b7b2a9;
}
.footer-p__ins {
	background: url(../img/icons/instagram2.png) center/contain no-repeat;
}
.footer-p__wa {
	background: url(../img/icons/whatsapp.png) center/contain no-repeat;
}
@media (max-width: 991px) {
	.footer-p__text {
		margin: 10px 0 0;
	}
	.footer-p__text a {
		font-size: 13px;
		line-height: 16px;
	}
}
@media (max-width: 767.98px) {
	.footer-p__menu {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
		margin: 0 0 10px;
	}
	.footer-p__links {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
		margin: 0 0 10px;
	}
	.footer-p__contacts {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 50%;
		        flex: 1 0 50%;
	}
}

.menu-footer-p__title {
	display: block;
	font-weight: 500;
	font-size: 33px;
	line-height: 39px;
	letter-spacing: -0.015em;
	color: #f9f1e4;
	margin: 0 0 20px;
}
.menu-footer-p__link {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 25px;
	letter-spacing: -0.015em;
	text-transform: uppercase;
	color: #f9f1e4;
}
@media (max-width: 991px) {
	.menu-footer-p__title {
		font-size: 24px;
		line-height: 28px;
	}
	.menu-footer-p__link {
		font-size: 12px;
		line-height: 18px;
	}
}
@media (max-width: 767.98px) {
	.menu-footer-p__title {
		font-size: 18px;
		line-height: 21px;
		margin: 0 0 10px;
	}
	.menu-footer-p__link {
		font-size: 12px;
		line-height: 18px;
	}
}

.link {
	display: inline-block;
	width: 224px;
	height: 49.21px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-radius: 10px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}
.link_orange {
	background: #ff8139;
	color: #421a01;
}
.link_braun {
	background: #594740;
	color: #fff;
}
@media (max-width: 991px) {
	.link {
		width: 180px;
		height: 40.75px;
	}
}

.title {
	font-size: 22px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 0 50px;
	text-align: center;
}

.fullscreen {
	background: #f9f1e4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 100px 0 190px;
}
.fullscreen__body {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.fullscreen__text-column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 54%;
	        flex: 0 1 54%;
	text-align: left;
	padding: 0 25px;
	z-index: 2;
}
.fullscreen__title {
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 59px;
	color: #594740;
	margin: 0 0 9px;
}
.fullscreen__subtitle {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #4a3933;
	margin: 0 0 12px;
}
.fullscreen__list {
	margin: 0 0 25px;
}
.fullscreen__list li {
	font-size: 18px;
	line-height: 28px;
	color: #211b19;
	padding: 0 0 0 40px;
	margin: 0 0 20px;
	background: url(../img/icons/tick__1.png) 0 0/28px no-repeat;
}
.fullscreen__list li:last-child {
	margin: 0;
}
.fullscreen__text {
	font-style: normal;
	font-weight: 500;
	font-size: 19.5px;
	line-height: 27px;
	text-align: justify;
	color: #5e4a43;
	margin: 0 0 25px;
}
.fullscreen__image {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 46%;
	        flex: 1 0 46%;
	padding: 0 0 57%;
	z-index: 2;
}
.fullscreen_links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 0 18px;
}
.fullscreen__link {
	height: 49.21px;
}
.fullscreen__link:first-of-type {
	margin: 0 10px 0 0;
}
@media (max-width: 991px) {
	.fullscreen {
		padding: 85px 0 130px;
	}
	.fullscreen__text-column {
		padding: 0 0 0 25px;
	}
	.fullscreen__title {
		font-size: 36px;
		line-height: 42px;
		margin: 0 0 5px;
	}
	.fullscreen__subtitle {
		font-size: 18px;
		margin: 0 0 5px;
	}
	.fullscreen__list {
		margin: 0 0 12px;
	}
	.fullscreen__list li {
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 12px;
		padding: 0 0 0 30px;
		background: url(../img/icons/tick__1.png) 0 0/20px no-repeat;
	}
	.fullscreen__list li:last-child {
		margin: 0;
	}
	.fullscreen__text {
		font-size: 16px;
		line-height: 22px;
	}
}
@media (max-width: 767.98px) {
	.fullscreen {
		padding: 30px 0 55px;
	}
	.fullscreen__image {
		min-height: 271px;
		width: 100%;
		margin: 0 0 20px;
	}
	.fullscreen__title {
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 10px;
		text-align: center;
	}
	.fullscreen__subtitle {
		font-size: 13px;
		line-height: 18px;
		margin: 0 0 10px;
	}
	.fullscreen__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.fullscreen_links {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.fullscreen__list {
		margin: 0 0 12px;
	}
	.fullscreen__list li {
		font-size: 14px;
	}
	.fullscreen__text {
		font-size: 14px;
		line-height: 22px;
	}
	.fullscreen__link:first-of-type {
		margin: 0 0 11px;
	}
}
.request {
	background: #8f9471;
	padding: 50px 0 100px;
	border-bottom: 22px solid #67564e;
}
.request__title {
	font-size: 36px;
	line-height: 42px;
	color: #3e2c25;
	margin: 0 0 50px;
}
.request__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.request__list {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
.request__list:first-of-type {
	padding: 0 50px 0 0;
}
@media (max-width: 991px) {
	.request {
		padding: 40px 0 75px;
		border-bottom: 18px solid #67564e;
	}
	.request__title {
		font-size: 33px;
		line-height: 39px;
	}
	.request__list:first-of-type {
		padding: 0 40px 0 0;
	}
}
@media (max-width: 767.98px) {
	.request {
		padding: 25px 0 40px;
	}
	.request__text {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.request__title {
		font-size: 18px;
		line-height: 21px;
		margin: 0 0 17px;
	}
}

.reguest-list__item {
	position: relative;
	font-size: 24px;
	line-height: 28px;
	/* or 117% */
	text-align: justify;
	color: #2d2420;
	position: relative;
	margin: 0 0 20px;
	padding: 0 0 0 30px;
}
.reguest-list__item:before {
	position: absolute;
	content: "";
	width: 16.94px;
	height: 16.94px;
	border-radius: 50%;
	left: 0;
	top: 7px;
	background: #3e2c25;
}
@media (max-width: 991px) {
	.reguest-list__item {
		font-size: 18px;
		line-height: 23px;
		margin: 0 0 15px;
	}
	.reguest-list__item:before {
		width: 12.5px;
		height: 12.5px;
	}
}
@media (max-width: 767.98px) {
	.reguest-list__item {
		font-size: 14px;
		line-height: 18px;
	}
	.reguest-list__item:before {
		width: 8.36px;
		height: 8.63px;
		top: 5px;
	}
}

.if {
	background: #fcf8f1;
	padding: 55px 0 20px 0;
}
.if .container {
	min-width: 1019px;
}
.if__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.if__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}
.if__column:first-of-type {
	padding: 0 15px 0 0;
}
.if__column:last-of-type {
	padding: 0 0 0 15px;
}
.if__article_transparent {
	padding: 0 20px 100px;
}
.if__article_orange {
	position: relative;
	padding: 30px 20px;
	background: #dd8b64;
	-webkit-box-shadow: -8px 8px 8px #c3c0bb;
	        box-shadow: -8px 8px 8px #c3c0bb;
	z-index: 2;
}
.if__article_orange .problem-list__item {
	background: url(../img/if/problem-list_o.png) 0 0/18.28px no-repeat;
}
.if__article_orange .positive-list__item {
	background: url(../img/if/positive-list_o.png) 0 0/18.28px no-repeat;
}
.if__title {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #272220;
	margin: 0 0 30px;
}
.if__list {
	margin: 0 0 35px;
}
.if__subtitle {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin: 0 0 20px;
	color: #000000;
}
.if__image_1 {
	margin: 55px 0 0;
	padding: 0 0 100%;
}
.if__image_2 {
	margin: 125px 0 0;
	padding: 0 0 77%;
}
.if .link {
	margin: 0 auto;
}
@media (max-width: 991px) {
	.if .container {
		max-width: 970px;
		min-width: 100%;
	}
	.if__column:first-of-type {
		padding: 0 7px 0 0;
	}
	.if__column:last-of-type {
		padding: 0 0 0 7px;
	}
	.if__article_transparent {
		padding: 0 10px 50px;
	}
	.if__article_orange {
		position: relative;
		padding: 20px 10px;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.if__article_orange .problem-list__item {
		background: url(../img/if/problem-list_o.png) 0 3px/13px no-repeat;
	}
	.if__article_orange .positive-list__item {
		background: url(../img/if/positive-list_o.png) 0 3px/13px no-repeat;
	}
	.if__title {
		font-size: 33px;
		line-height: 39px;
		margin: 0 0 17px;
	}
}
@media (max-width: 767.98px) {
	.if__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.if__column:first-of-type {
		padding: 0;
	}
	.if__column:last-of-type {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		padding: 0;
	}
	.if__title {
		font-size: 24px;
		line-height: 28px;
	}
	.if__article_transparent {
		padding: 0 0 25px;
	}
	.if__article_orange {
		-webkit-box-shadow: -5px 5px 5px #c3c0bb;
		        box-shadow: -5px 5px 5px #c3c0bb;
	}
	.if__article_orange .problem-list__item {
		background: url(../img/if/problem-list_o.png) 0 0/13px no-repeat;
	}
	.if__article_orange .positive-list__item {
		background: url(../img/if/positive-list_o.png) 0 0/13px no-repeat;
	}
}

.problem-list__item {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: justify;
	color: #272220;
	padding: 0 0 0 37px;
	margin: 0 0 20px;
	background: url(../img/if/problem-list.png) 0 0/18.28px no-repeat;
}
.problem-list__text {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	text-align: justify;
	color: #0e0d0c;
	margin: 0 0 30px;
	font-weight: bold;
	padding: 0 0 0 37px;
}
@media (max-width: 991px) {
	.problem-list__item {
		font-size: 15px;
		line-height: 18px;
		padding: 0 0 0 17px;
		margin: 0 0 17px;
		background: url(../img/if/problem-list.png) 0 3px/13px no-repeat;
	}
	.problem-list__text {
		font-size: 20px;
		line-height: 23px;
		margin: 0 0 20px;
		padding: 0 0 0 17px;
	}
}
@media (max-width: 767.98px) {
	.problem-list__item {
		font-size: 13px;
		line-height: 15px;
		background: url(../img/if/problem-list.png) 0 0/13px no-repeat;
	}
	.problem-list__text {
		font-size: 13px;
		line-height: 15px;
	}
}

.positive-list__item {
	margin: 0 0 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: justify;
	color: #272220;
	padding: 0 0 0 37px;
	background: url(../img/if/positive-list.png) 0 0/18.28px no-repeat;
}
@media (max-width: 991px) {
	.positive-list__item {
		font-size: 15px;
		line-height: 18px;
		padding: 0 0 0 17px;
		margin: 0 0 17px;
		background: url(../img/if/positive-list.png) 0 3px/13px no-repeat;
	}
}
@media (max-width: 767.98px) {
	.positive-list__item {
		font-size: 13px;
		line-height: 15px;
		background: url(../img/if/positive-list.png) 0 0/13px no-repeat;
	}
}

.about {
	background: #594740;
	padding: 30px 0 60px;
}
.about__title {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	color: #f2ebdc;
}
.about__body {
	background: #f2ebdc;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.about__body_add {
	display: none;
	background: #f2ebdc;
	padding: 0 0 40px;
}
.about__body_add.active {
	display: block;
}
.about__image {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 40%;
	        flex: 0 1 40%;
	overflow: hidden;
}
.about__image img {
	width: 100%;
	height: auto;
}
.about__text {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 60%;
	        flex: 0 1 60%;
	padding: 40px 20px 30px;
}
.about__text p {
	font-weight: 500;
	font-size: 17px;
	line-height: 19px;
	color: #593d11;
	margin: 0 0 20px;
}
.about__subtitle {
	font-weight: bold;
	font-size: 24px;
	line-height: 87.69%;
	color: #594740;
	text-align: center;
}
.about__lists {
	padding: 30px 20px 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.about__list:first-of-type {
	padding: 0 20px 0 0;
}
.about__list ul {
	margin: 0 0 20px;
}
.about__list p {
	font-size: 17px;
	line-height: 142.69%;
	color: #594740;
}
.about__list li {
	position: relative;
	font-weight: 500;
	font-size: 17px;
	line-height: 142.69%;
	color: #594740;
	padding: 0 0 0 10px;
}
.about__list li:before {
	position: absolute;
	content: "-";
	left: 0;
}
.about__images {
	padding: 0 10px;
}
.about__images img {
	min-height: 460px;
	max-height: 460px;
	width: auto;
}
@media (max-width: 991px) {
	.about__text {
		padding: 20px 10px 15px;
	}
	.about__text p {
		font-size: 16px;
		line-height: 18px;
		letter-spacing: -0.005em;
		margin: 0 0 10px;
	}
}
@media (max-width: 767.98px) {
	.about__title {
		font-size: 27px;
		line-height: 32px;
	}
	.about__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.about__lists {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.about__images img {
		min-height: auto;
		max-width: 100%;
		height: auto;
	}
	.about__list:first-of-type {
		padding: 0 0 0 0;
	}
	.about__list ul {
		margin: 0 0 13px;
	}
	.about__list p {
		font-size: 15px;
		line-height: 122.69%;
	}
	.about__list li {
		font-size: 15px;
		line-height: 122.69%;
		padding: 0 0 0 10px;
	}
}

.show-more {
	font-weight: 700;
	font-size: 17px;
	line-height: 19px;
	color: #593d11;
	text-decoration: underline;
}
.show-more:before {
	content: "+";
}
.show-more:visited, .show-more:active {
	text-decoration: underline;
}

.about__body.active .show-more:before {
	content: "-";
}

.packages {
	background: #f9f1e4;
	padding: 90px 0 140px;
}
.packages__title {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	margin: 0 0 45px;
	color: #4d330c;
	text-align: center;
}
.packages__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0 -7.5px;
}
@media (max-width: 991px) {
	.packages__body {
		margin: 0 -5px;
	}
}
@media (max-width: 767.98px) {
	.packages {
		padding: 55px 0 20px;
	}
	.packages__title {
		font-size: 27px;
		line-height: 32px;
		margin: 0 0 25px;
	}
	.packages__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.package {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 31.33%;
	        flex: 1 0 31.33%;
	font-family: "Montserrat", sans-serif;
	margin: 0 7.5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 30px 10px;
	background: #fdfaef;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
}
.package__header {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 250px;
	        flex: 0 0 250px;
}
.package__body {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}
.package__subtitle {
	font-weight: bold;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #000000;
	margin: 0 0 25px;
}
.package__price {
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.015em;
	color: #000000;
	margin: 0 0 10px;
}
.package__list p {
	font-size: 17px;
	line-height: 26px;
	text-align: center;
	margin: -17px 0 0;
}
.package__list li {
	font-weight: normal;
	font-size: 17px;
	line-height: 26px;
	letter-spacing: -0.015em;
	color: #000000;
	margin: 0 0 14px;
	padding: 0 0 0 20px;
	background: url(../img/packages/tick.png) 0 7px/14px auto no-repeat;
}
.package__list li ul,
.package__list li li {
	background: url(../img/packages/Ellipse10.png) 0 10px no-repeat;
}
.package__list li ul:first-of-type,
.package__list li li:first-of-type {
	margin: 14px 0;
}
.package__link {
	width: 241.03px;
	height: 49.49px;
	border-radius: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: -0.015em;
	color: #654f47;
}
.package__link:first-of-type {
	background: #f9f1e4;
	color: #654f47;
	border: 3px solid #9b7b6f;
	margin: 0 0 20px;
}
.package__link:last-of-type {
	background: #654336;
	color: #f4f0e9;
}
.package__link_o:first-of-type {
	border: 2px solid #d6824e;
	color: #ee6916;
}
.package__link_o:last-of-type {
	background: #ee6916;
}
@media (max-width: 991px) {
	.package {
		margin: 0 5px;
	}
	.package__header {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 200px;
		        flex: 0 0 200px;
	}
	.package__subtitle {
		font-size: 17px;
		line-height: 29px;
		margin: 0 0 17px;
	}
	.package__price {
		font-size: 20px;
		line-height: 30px;
	}
	.package__list p {
		font-size: 16px;
		line-height: 22px;
	}
	.package__list li,
.package__list li > ul > li {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: -0.025em;
		margin: 0 0 10px;
	}
	.package__list li:first-of-type,
.package__list li > ul > li:first-of-type {
		margin: 10px 0;
	}
	.package__link {
		width: 210px;
		height: 45.41px;
	}
}
@media (max-width: 767.98px) {
	.package {
		max-width: 350px;
		margin: 0 auto 20px;
	}
	.package__header {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 170px;
		        flex: 0 0 170px;
	}
	.package__link {
		font-size: 15px;
		line-height: 17px;
	}
}

.coffee {
	background: #594740;
	padding: 45px 0 80px;
}
.coffee__body {
	background: url(../img/coffee/1.png) top/100% auto no-repeat;
	padding: 10% 20px 10% 40%;
}
.coffee__title {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	color: #f9f1e4;
	margin: 0 0 40px;
	text-align: center;
}
.coffee__text p {
	font-weight: normal;
	font-size: 34px;
	line-height: 40px;
	text-align: center;
	color: #fae6e6;
}
@media (max-width: 991px) {
	.coffee {
		padding: 30px 0 70px;
	}
	.coffee__body {
		background: url(../img/coffee/1.png) center/cover no-repeat;
	}
	.coffee__title {
		font-size: 40px;
		line-height: 46px;
		margin: 0 0 30px;
	}
	.coffee__text p {
		font-size: 24px;
		line-height: 30px;
	}
}
@media (max-width: 767.98px) {
	.coffee {
		padding: 20px 0 26px;
	}
	.coffee__body {
		padding: 30px 20px 30px 30%;
	}
	.coffee__title {
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 30px;
	}
	.coffee__text p {
		font-size: 15px;
		line-height: 17px;
	}
}

.reviews {
	background: #f9f1e4;
	padding: 40px 0 0;
}
.reviews__title {
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	color: #594740;
	margin: 0 0 20px;
	text-align: center;
}
.reviews__body {
	background: #8f9471;
	padding: 30px 0 90px;
}
.reviews__list {
	background: #f9f1e4;
}
@media (max-width: 991px) {
	.reviews__title {
		font-size: 48px;
		line-height: 56px;
	}
}
@media (max-width: 767.98px) {
	.reviews__title {
		font-size: 27px;
		line-height: 32px;
	}
}

.review {
	background: #f9f1e4;
	overflow: hidden;
}
.review__title {
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	color: #594740;
	text-align: center;
	margin: 15px 0 10px;
}
.review__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	overflow: hidden;
	max-width: 80%;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background: #8f9471;
	margin: 0 auto;
}
.review__image {
	max-height: 100%;
}
@media (max-width: 991px) {
	.review__body {
		max-width: 90%;
	}
	.review__title {
		font-size: 36px;
		line-height: 42px;
	}
}
@media (max-width: 767.98px) {
	.review__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.review__title {
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.045em;
	}
}

.answers {
	padding: 100px 0;
	background: #f9f1e4;
}
.answers:last-of-type {
	padding: 0 0 100px;
}
.answers__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
}
.answers__text {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 60%;
	        flex: 1 1 60%;
	padding: 0 35px 0 35px;
}
.answers__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #593b2f;
	margin: 0 0 90px;
}
.answers__list li {
	margin: 0 0 50px;
	position: relative;
	padding: 0 40px 0 0;
	cursor: pointer;
}
.answers__question {
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #735334;
	margin: 0 0 10px;
}
.answers__question:after {
	content: "";
	position: absolute;
	right: 0;
	top: 10px;
	width: 26px;
	height: 26px;
	border-bottom: 1px solid #7b5d3e;
	border-right: 1px solid #7b5d3e;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.answers__question.active:after {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.answers__answer {
	display: none;
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
	color: #000;
}
.answers__image {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 40%;
	        flex: 1 1 40%;
}
.answers__image_md3 {
	display: none;
}
@media (max-width: 991px) {
	.answers {
		padding: 70px 0;
	}
	.answers:last-of-type {
		padding: 0 0 70px;
	}
	.answers__title {
		margin: 0 0 40px;
		font-size: 30px;
		line-height: 35px;
	}
	.answers__list li {
		margin: 0 0 30px;
	}
	.answers__question {
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
	}
	.answers__question:after {
		top: 10px;
		width: 20px;
		height: 20px;
	}
	.answers__answer {
		font-size: 16px;
		line-height: 18px;
	}
}
@media (max-width: 767.98px) {
	.answers {
		padding: 40px 0;
	}
	.answers:last-of-type {
		padding: 0 0 40px;
	}
	.answers__body {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.answers__image {
		display: none;
	}
	.answers__image_md3 {
		display: block;
		min-height: 250px;
		width: 190px;
		margin: 0 0 10px;
	}
	.answers__text {
		padding: 0;
	}
	.answers__title {
		margin: 0 0 20px;
		font-size: 20px;
		line-height: 23px;
	}
	.answers__list li {
		margin: 0 0 15px;
	}
	.answers__question {
		font-size: 14px;
		line-height: 16px;
	}
	.answers__question:after {
		top: 6px;
		width: 15px;
		height: 15px;
	}
	.answers__answer {
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
	}
}

#up {
	position: fixed;
	bottom: 30px;
	right: 30px;
	font-size: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: #6f7258;
	border-radius: 100%;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
	border-style: none;
	-webkit-box-shadow: 0 0 40px #6f7258;
	        box-shadow: 0 0 40px #6f7258;
	opacity: 0.3;
	font-size: 40px;
	z-index: 100;
}

#up:hover,
#up:active,
#up.show {
	opacity: 1;
	background-color: #6f7258;
}

#up.show {
	visibility: visible;
}

i.fa-chevron-up {
	color: white;
	text-align: center;
}

.fas,
.fas a {
	color: #ffffff;
}