.footer {
  background-color: $green2;
  flex: 0 0 100px;
  color: #ffffff;
  padding: 30px 0;
  a {
    color: #000;
  }
  // .footer__row
  &__row {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    color: #000;
  }
  // .footer__column
  &__column {
  }
  // .footer__logo
  &__logo {
    color: $green2;
    background-color: #ffffff;
  }
  // .footer__phone
  &__phone {
  }
  // .footer__menu
  &__menu {
  }
  // .footer__list
  &__list {
    li {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__contacts {
  }
  &__links {
  }
  // .footer__link
  &__link {
  }
  &__contacts a {
    display: block;
  }
  &__socials {
    @include flexbox;
    align-items: center;
    justify-content: space-between;
    a {
      display: block;
      width: 20px;
      height: 20px;
    }
    &_ins {
      background: url(img/icons/inst.png) center / contain no-repeat;
    }
    &_vk {
      background: url(img/icons/vk.png) center / contain no-repeat;
    }
    &_f {
      background: url(img/icons/f.png) center / contain no-repeat;
    }
  }
}

//====================================================================================================

//====================================================================================================
