//====================================================================================================
.header {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $bg_header;
		z-index: 6;
	}
	// .header__row
	&__row {
		height: 75px;
		@include flexbox;
		justify-content: space-between;
		align-items: center;
	}

	// .header__menu
	&__menu {
	}
	// .header__phone
	&__phone {
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
		text-align: justify;
		color: #000000;
		z-index: 6;
		background: url(../img/icons/whatsapp.png) left / contain no-repeat;
		padding: 0 0 0 30px;
	}
	@media (max-width: $md1+px) {
		&__row {
			height: 60px;
		}
		&__phone {
			font-size: 12px;
			line-height: 14px;
		}
	}
	@media (max-width: $md2+px) {
		&__row {
			height: 46px;
		}
	}
	@media (max-width: $md3+px) {
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $md3+px) {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			padding: 100px 20px 50px;
			background-color: #f9f1e4;
			z-index: 3;
			@include anim(0.5s, 0s);
		}
		&.active {
			top: 0;
		}
	}
	// .menu__list
	&__list {
		position: relative;
		@include flexbox;
		justify-content: space-between;
		align-items: center;
		z-index: 6;
		@media (max-width: $md3+px) {
			flex-direction: column;
			li {
				margin: 30px 0 0;
			}
		}
	}
	// .menu__link
	&__link {
		font-family: $fontfamilyAdd;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		letter-spacing: -0.015em;
		color: #433733;
		position: relative;
		padding: 16px 10px;
		border-right: 1px solid #5b5852;
		text-transform: uppercase;
	}
	@media (max-width: $md1+px) {
		&__link {
			font-size: 13px;
			line-height: 115.4%;
			letter-spacing: -0.105em;
			padding: 9px 10px;
		}
	}
	@media (max-width: $md3+px) {
		&__link {
			font-size: 16px;
			line-height: 115.4%;
			border-right: none;
			letter-spacing: 1px;
		}
	}
}
.menu_p {
	flex: 1 0 70%;
	.menu__list_p {
		justify-content: center;
		position: relative;
		@include flexbox;
		align-items: center;
		z-index: 6;
	}
	.menu__link_p {
		padding: 16px 200px;
		font-family: $fontfamilyAdd;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		letter-spacing: -0.015em;
		color: #433733;
		position: relative;
		border-right: 1px solid #5b5852;
		text-transform: uppercase;
	}
	@media (max-width: $md1+px) {
		flex: 1 0 50%;
		.menu__link_p {
			padding: 9px 10px;
		}
	}
	@media (max-width: $md3+px) {
		.menu__link_p {
		}
	}
}

//====================================================================================================
.icon-menu {
	display: none;
	position: relative;
	top: 0;
	right: 0;
	width: 38px;
	height: 24px;
	cursor: pointer;
	z-index: 6;
	span {
		@include anim(0.5s, 0s);
		top: 10px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 4px;
		background-color: #594740;
		&:first-child {
			top: 0px;
		}
		&:last-child {
			top: auto;
			bottom: 0px;
		}
	}
	&.active {
		span {
			@include scale(0);
			&:first-child {
				@include rotate(-45deg);
				top: 10px;
			}
			&:last-child {
				@include rotate(45deg);
				bottom: 10px;
			}
		}
	}
	@media (max-width: $md3+px) {
		display: block;
	}
}
