//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
//</Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamilyAdd: "Lato", sans-serif;
$fontfamily: "Merriweather", serif;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
$beg1: #ffcb40;
$beg2: #bf9830;
$beg3: #ffb173;
$green2: rgba(178, 188, 47, 0.6);
$green1: #97a300;
$green3: #effd3f;
$add1: #ff9d73;
$braun: #7f0023;
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	scroll-behavior: smooth;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
.link {
	display: inline-block;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1.5;
	color: #000;
	text-transform: uppercase;
	position: relative;
	padding: 0 50px 0 0;
	font-family: $fontfamilyAdd;
	&:after {
		content: url("/img/icons/p-right.svg");
		position: absolute;
		top: 0;
		right: 0;
	}
}
.title {
	font-size: 22px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 0 50px;
	text-align: center;
}
.logo {
	display: inline-block;
	font-size: 18px;
	padding: 10px 20px;
	z-index: 6;
	border-radius: 5px;
}
//<ОСНОВНОЙ БЛОК>====================================================================================================
.fullscreen {
	min-height: 100vh;
	// background-color: $beg3;
	background: url("/img/1/bg2.png") 0 0 repeat;
	display: flex;
	align-items: center;
	// .fullscreen__body
	&__body {
		position: relative;
		flex: 1 1 auto;
		width: 100%;
		max-width: 1200px;
		margin: 0px auto;
		text-align: center;
		@include flexbox;
		align-items: center;
		&:after {
			content: "";
			position: absolute;
			width: 50%;
			height: 110%;
			top: -5%;
			right: -5%;
			border: 10px solid $beg2;
		}
	}
	// .fullscreen__text
	&__text {
		flex: 0 1 50%;
		text-align: left;
		padding: 10px;
		z-index: 2;
	}
	// .fullscreen__title
	&__title {
		font-size: 80px;
		line-height: 86px;
		// font-weight: 900;
		margin: 0 0 50px;
		color: $braun;
	}

	// .fullscreen__subtitle
	&__subtitle {
		font-size: 26px;
		line-height: 32px;
		margin: 0 0 50px;
	}
	// .fullscreen__image
	&__image {
		flex: 1 0 50%;
		padding: 0 0 50%;
		z-index: 2;
	}
	&__link {
	}
	@media (max-width: $md2+px) {
		// .fullscreen__title
		&__title {
			font-size: 60px;
			line-height: 66px;
			margin: 0 0 30px;
		}
	}
	@media (max-width: $md3+px) {
		&__body {
			flex-direction: column;
		}
		&__text {
			text-align: center;
		}
		&__image {
			padding: 0 45% 50%;
		}
		&__subtitle {
			font-size: 18px;
			line-height: 22px;
			margin: 0 0 30px;
		}
	}
	@media (max-width: $md4+px) {
		&__image {
			padding: 0 40% 80%;
		}
	}
}

//====================================================================================================
.block {
	padding: 50px 0 50px;
	border-bottom: 1px solid $braun;
	// .block__body
	&__body {
		position: relative;
		background: url(/img/icons/icon2.png) top / 7% no-repeat;
		@include flexbox;
		align-items: flex-start;
		margin: 0 -20px;
		padding: 100px 0 0;
		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 3px;
		// 	height: 100px;
		// 	background-color: $braun;
		// }
	}
	// .block__column
	&__column {
		flex: 0 0 50%;
		padding: 0 20px;
	}
	// .block__title
	&__title {
		margin: 20px 0 15px;
	}
	// .block__list
	&__list {
		list-style: none;
		li {
			font-size: 16px;
			line-height: 20px;
			margin: 0 0 20px;
			padding: 0 0 0 30px;
			background: url(/img/icons/tick.svg) 0 0 / 20px no-repeat;
		}
	}

	&__column:nth-child(2) &__list li {
		background: url(/img/icons/tick_green.svg) 0 0 / 20px no-repeat;
	}
}
.block-list {
	// .block-list__item
	&__item {
	}
}
//====================================================================================================
.block:nth-child(1) {
	.block__body {
		background: url(/img/icons/icon3.png) top / 7% no-repeat;
	}
}
.block:nth-child(2) {
	.block__body {
		background: url(/img/icons/icon2.png) top / 7% no-repeat;
	}
}
.block:nth-child(3) {
	.block__body {
		background: url(/img/icons/icon3.png) top / 7% no-repeat;
	}
}
.block:nth-child(4) {
	.block__body {
		background: url(/img/icons/icon4.png) top / 7% no-repeat;
	}
}
.block:last-of-type {
	border-bottom-style: none;
}
//====================================================================================================
.add {
	padding: 50px 0 50px;
	background: url("/img/1/bg2.png") 0 0 repeat;
	border-top: 1px solid $green2;
	border-bottom: 1px solid $green2;
	// .add__body
	&__body {
	}
	&__text {
		font-size: 20px;
		line-height: 28px;
		font-weight: 700;
		text-align: center;
		color: $braun;
		p {
			margin: 0 0 13px;
		}
	}
	&__list {
		li {
			margin: 0 0 15px;
			background: url(/img/icons/heart.png) 0 0 / 20px no-repeat;
			text-align: left;
			padding: 0 0 0 30px;
		}
	}
}

//====================================================================================================
//====================================================================================================

//====================================================================================================

.request {
	padding: 100px 0 50px;
	// .request__body
	&__body {
	}
	// .request__title
	&__title {
	}
	// .request__row
	&__row {
	}
	// .request__text
	&__text {
		@include flexbox;
		// flex: 1 0 50%;
		padding: 30px 20px 20px 60px;
	}
	// .request__list
	&__list {
		flex: 0 1 50%;
	}
	// .request__image
	&__image {
		// flex: 1 0 50%;
	}
}

.reguest-list {
	// .reguest-list__item
	&__item {
		position: relative;
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 24px;
		padding: 0 0 0 30px;
		background: url(/img/icons/tick_green.svg) 0 0 / 25px auto no-repeat;
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
.price {
	padding: 50px 0 50px;
	// .price__body
	&__body {
	}
	// .price__title
	&__title {
	}
	&__subtitle {
		text-decoration: underline;
		font-weight: 700;
	}
	// .price__text
	&__text {
		flex: 1 0 50%;
		font-size: 20px;
		line-height: 26px;
		padding: 0 20px 20px 0;
		p {
			margin: 0 0 30px;
		}
	}
	&__true {
		color: $green1;
	}
	&__false {
		color: red;
		text-decoration: line-through;
	}
	// .price__link
	&__link {
	}
	// .price__image
	&__image {
		margin: -50px 0 30px;
		flex: 1 1 50%;
		padding: 0 0 50%;
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
.answers {
	padding: 100px 0 50px;
	// .answers__body
	&__body {
	}
	// .answers__title
	&__title {
	}
	// .answers__row
	&__row {
		@include flexbox;
	}
	// .answers__text
	&__text {
		flex: 0 1 50%;
		padding: 0 30px 0 0;
	}
	// .answers__list
	&__list {
		li {
			position: relative;
			font-size: 16px;
			line-height: 20px;
			margin: 0 0 15px;
		}
	}
	// .answers__question
	&__question {
		margin: 0 0 13px;
		padding: 0 10px 0 10px;
		text-align: center;
		&:before,
		&:after {
			position: absolute;
			top: 0;
		}
		&:before {
			position: absolute;
			content: "«";
			left: 0;
		}
		&:after {
			position: absolute;
			content: "»";
			right: 0;
		}
	}
	// .answers__answer
	&__answer {
		font-style: italic;
		font-weight: 300;
	}
	// .answers__image
	&__image {
		flex: 0 1 50%;
		padding: 0 0 30%;
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================
